<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= javascript_include_tag "https://code.jquery.com/jquery-2.1.3.min.js" %>
  <%= javascript_include_tag "http://cdn.opalrb.org/opal/0.6.2/opal.min.js" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
